body, html{
    font-family: Open Sans,Verdana,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-size: 14px;
    background-color: #f9f9fb;
}

.app{
    width: 100vw;
    height: 100vh;
}

.sidebar{
    position: relative;
    background-image: url('./assets/image/sidebar_image.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #343a40 !important;
    color: white;
}

.sidebar:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.79);
    z-index: 1
}

.sidebar .text-block{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-transform: uppercase;
    margin-bottom: auto;
}

.subheader{
    display: block;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.09px;
    font-weight: 600;
}

.welcome-heading{
    margin-bottom: 33px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.42px;
    text-transform: uppercase;
}

#logo{
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 38px;
    left: 38px;
    z-index: 1010;
}

.main-content{
    padding-top: 100px;
}

.login-box{
    padding-top: 100px;
    max-width: 540px;
    margin: 0 auto;
}

.login-subheader{
    font-size: 1.25rem;
    margin-bottom: 70px;
}

.login-box label{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    display: block;
    color: #bdc2ce;
}

.login-box .form-control{
    letter-spacing: .8px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.login-box .btn{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .8px;
    border-radius: 2px;
    padding: 9px 23px;
    margin: 0 0 0 8px;
    position: relative;
    font-weight: 600;
    color: #1f2532;
    background: #ffe357;
    border: 1px solid #fbd103;
    line-height: 2.5;
    width: 135px;
}

.alert{
    border-radius: 0;
    border-width: 0 0 0 3px;
}

.alert p{
    margin: 0;
}

.page-body{
    margin-top: 60px;
    padding-top: 4rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 4rem;
    min-height: 100%;
}

.loading-text{
    font-size: 2.5em;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-pointer{
    cursor: pointer;
}

.clustering .navbar{
    pointer-events: none;
    opacity: 0.6;
}

/* Admin Dashboard */
.cluster-container {
    height: 350px;
}

.cluster-container .accordion {
    height: 100%;
    overflow: auto;
}

.cluster-badge{
    width: 2px;
}

.mt-6{
    margin-top: 70px;
}

.tooltip-text{
    position: absolute;
    width: 50px;
    background: #4a4a4a;
    color: #e0e0e0;
    padding: 10px 5px;
    border-radius: 10px;
    visibility: hidden;
}

.custom-tooltip:hover .tooltip-text{
    visibility: visible;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecece;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}
